html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
body {
  width: 85%;
  font-size: 1.4rem;/*1.4 × 10px = 14px
                      2.4 × 10px = 24px*/
  margin:5% auto;
  color: #2581D8;
}
.font-50{
  font-size:50px;  
}
