html {
    font-family: 'Slabo 27px', serif; 'Arima Madurai';
    height: 100%;
    width: 100%;
    font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
body {
  margin:10rem;
  font-size: 1.4rem;/*1.4 × 10px = 14px
                      2.4 × 10px = 24px*/
  color: #2581D8;
}
p {
  font-size:2.5rem;
}
#headline{
  font-size:8rem;
}

.articleTitle{
    display:block;
    font-size:2.8rem;
    margin:2rem 0;
}


.dis-Inline{
    text-align:right;
    display:inline;
}
.float-R{
    color:#fff;
    background-color: #2581D8;
    font-size:3.5rem;
    margin:1rem;
    padding:1rem;
    text-align:left;
}

a,a:visited {
    text-decoration:none;
    color:#2581D8;
}
a:hover {
    color:#21ff1f;
}
.color-White{
    color:#fff;
    }

.pre-text   {
    font-family:'Arima Madurai', serif;
    white-space:pre-wrap;
    padding:2rem;
    margin:auto 2rem;
    font-size:2.5rem;
    color:#fff;
    background-color: #2581D8;
}
data-pre{
   color: #21ff1f;
}



@media screen and (max-width: 500px) {
    body {
  margin:1rem;
}
#headline{
  font-size:4rem;
}
.articleTitle{
    font-size:2rem;
}
.p{
    font-size:2rem;
}
.pre-text{
    font-size:1.5rem;
}    
}

@media screen and (min-width: 500px) and (max-width: 799px) {
      body {
  margin:2rem;
}
#headline{
  font-size:4rem;
}
.articleTitle{
    font-size:2rem;
}
.p{
    font-size:2.1rem;
}
.pre-text{
    font-size:1.7rem;
} 
}

@media screen and (min-width: 800px) and (max-width: 999px) {
      body {
  margin:3rem;
}
#headline{
  font-size:5rem;
}
.articleTitle{
    font-size:2.2rem;
}
.p{
    font-size:2.2rem;
}
.pre-text{
    font-size:1.9rem;
} 
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
      body {
  margin:4rem;
}
#headline{
  font-size:6rem;
}
.articleTitle{
    font-size:2.5rem;
}
.p{
    font-size:2.3rem;
}
.pre-text{
    font-size:2.1rem;
} 
}

@media screen and (min-width: 1200px) and (max-width: 1499px) {
    body {
  margin:4rem;
}
#headline{
  font-size:7rem;
}
.articleTitle{
    font-size:2.8rem;
}
.p{
    font-size:2.5rem;
}
.pre-text{
    font-size:2.3rem;
} 
}

@media screen and (min-width: 1500px) {
    body {
  margin:8rem;
}
#headline{
  font-size:8rem;
}
.articleTitle{
    font-size:3rem;
}
.p{
    font-size:2.5rem;
}
.pre-text{
    font-size:2.5rem;
} 
}
