html {
    height: 100%;
    width: 100%;
    font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/
}
body {
  width: 85%;
  font-size: 1.4rem;/*1.4 × 10px = 14px
                      2.4 × 10px = 24px*/
  margin:2rem auto;
  color: #2581D8;
}
.dis-Inline{
    text-align:right;    
    display:inline;
}
.float-R{
    color:#fff;
    background-color: #2581D8;
    font-size:3.5rem;
    margin:2rem;
    padding:1.5rem;
    text-align:left;    
}



h1 {
    font-size:3rem;  
}
h2 {
    font-size:2.8rem;  
}
h3 {
    font-size:2.6rem;  
}
p {
    font-size:2.4rem;  
}




.font-50{
  font-size:3rem;  
}
.pre-text   {
    padding:2rem;
    margin:auto 2rem;
    font-size:2.5rem; 
    color:#fff;
    background-color: #2581D8;   
}
data-pre{
   color: #21ff1f;   
}
