
html {
	
	font-family: 'Slabo 27px', serif; 'Arima Madurai';
	box-sizing: border-box;
	height: 100%;
	width:  100%;
	font-size: 62.5%;
}
body {
	user-select:none;
	color: #2581D8;
	/*font-size: 1.4rem;*/
	/*1.4 × 10px = 14px
                      2.4 × 10px = 24px*/
	height: 80%;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 1%;
	/*font-size: 60px;*/
}
a,a:visited {
    text-decoration:none; 
    color:#2581D8;
}
a:hover {
    color:#21ff1f;
}
.color-White{
    color:#fff;
    }
/*p {
	font-size: 3rem;
}*/
img {
	width: 15rem;
}
#cat {
	margin:3rem auto 0 auto;
	font-size: 12rem;
}
#my{
	margin:2rem auto;
	font-size: 3rem;
}
#computer {
	cursor:pointer;
	padding: 1rem;
	background-color: #f4f4f4;
	border-radius:10rem;
}
.inline {
	transition:0.1s;
	width: 14rem;
	/*margin:3rem;*/
	cursor:pointer;
	border-radius:10rem;
	color:#fff;
	background-color:#fff;
	display: inline;
	padding: 1.5rem;
}
.inline:hover , img:hover{
	width: 15rem;
	/*border:#2581D8 0.3rem solid;*/
	/*padding: 1.5rem;*/
	transition: all 0.3s;
	/*color:yellow;*/
	background-color:yellow;
}

#alert{
	font-size: 5rem;
}
#bu{
	/*padding:10px 20px;*/
}
#integral,#total {
	display: inline;
	font-size: 3rem;
	color:#00d300;
}
@media screen and (max-width: 500px) {
    body {
  margin:1rem;
}
#cat{
	font-size:7rem;
}
img {
	width: 9rem;
}   
#alert{
	font-size:2rem;
}
.inline{
	width:4rem;
}
.inline:hover, img:hover {
	width:10rem;
}
}

@media screen and (min-width: 500px) and (max-width: 799px) {
      body {
  margin:2rem;
}
#cat{
	font-size:8rem;
}
img {
	width: 10rem;
}   
#alert{
	font-size:2rem;
}
.inline{
	width:4rem;
}
.inline:hover, img:hover {
	width:11rem;
}
}

@media screen and (min-width: 800px) and (max-width: 999px) {
      body {
  margin:3rem;
}
#cat{
	font-size:9rem;
}
img {
	width: 11rem;
}   
#alert{
	font-size:2.5rem;
}
.inline{
	width:5rem;
}
.inline:hover, img:hover {
	width:12rem;
}
 
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
      body {
  margin:4rem;
}
#cat{
	font-size:10rem;
}
img {
	width: 12rem;
}   
#alert{
	font-size:3rem;
}
.inline{
	width:6rem;
}
.inline:hover, img:hover {
	width:13rem;
}
}

@media screen and (min-width: 1200px) and (max-width: 1499px) {
    body {
  margin:4rem;
}
#cat{
	font-size:11rem;
}
img {
	width: 13rem;
}   
#alert{
	font-size:3.5rem;
}
.inline{
	width:7rem;
}
.inline:hover, img:hover {
	width:14rem;
}
}

@media screen and (min-width: 1500px) {
    body {
  margin:8rem;
}
#cat{
	font-size:12rem;
}
img {
	width: 14rem;
}   
#alert{
	font-size:5rem;
}
.inline{
	width:8rem;
}
.inline:hover, img:hover {
	width:15rem;
}


}
