
html {
	
	font-family: 'Slabo 27px', serif; 'Arima Madurai';
	box-sizing: border-box;
	height: 100%;
	width:  100%;
	font-size: 62.5%;
}
body {
	user-select:none;
	color: #2581D8;
	/*font-size: 1.4rem;*/
	/*1.4 × 10px = 14px
                      2.4 × 10px = 24px*/
	height: 80%;
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 1%;
	/*font-size: 60px;*/
}
a,a:visited {
    text-decoration:none; 
    color:#2581D8;
}
a:hover {
    color:#21ff1f;
}
.color-White{
    color:#fff;
    }
/*p {
	font-size: 3rem;
}*/
img {
	width: 15rem;
}
#cat {
	margin:3rem auto 0 auto;
	font-size: 12rem;
}
#my{
	margin:2rem auto;
	font-size: 3rem;
}
#computer {
	cursor:pointer;
	padding: 1rem;
	background-color: #f4f4f4;
	border-radius:10rem;
}
.inline {
	transition:0.1s;
	width: 14rem;
	/*margin:3rem;*/
	cursor:pointer;
	border-radius:10rem;
	color:#fff;
	background-color:#fff;
	display: inline;
	padding: 1.5rem;
}
.inline:hover , img:hover{
	width: 15rem;
	/*border:#2581D8 0.3rem solid;*/
	/*padding: 1.5rem;*/
	transition: all 0.3s;
	/*color:yellow;*/
	background-color:yellow;
}

#alert{
	font-size: 5rem;
}
#bu{
	/*padding:10px 20px;*/
}
#integral,#total {
	display: inline;
	font-size: 3rem;
	color:#00d300;
}
