@media screen and (max-width: 500px) {
p, span{
	padding: 0.2rem;
	font-size: 3.5rem;
}
#day,#cat{
	font-size: 2rem;
}
}

@media screen and (min-width: 500px) and (max-width: 799px) {
p, span{
	display:inline;
	padding: 0.8rem;
	font-size: 4rem;
}
#day,#cat{
	font-size: 2rem;
}
}
@media screen and (min-width: 800px) and (max-width: 999px) {
p, span{
	display:inline;
	padding: 1rem;
	font-size: 7rem;
}
#day,#cat{
	font-size: 3.5rem;
}
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
p, span{
	display:inline;
	padding: 1.3rem;
	font-size: 10rem;
}
#day,#cat{
	font-size: 5rem;
}

}

@media screen and (min-width: 1200px) {

p, span{
	display:inline;
	padding: 1.5rem;
	font-size: 12rem;
}
#day,#cat{
	font-size: 6rem;
}

}




body{
	user-select:none;
	font-size: 62.5%;
	widows: 100%;
	height: 100%;
	font-family:"Tahoma","Helvetica","Arial",serif;
	background-image: url(pix.gif);
	color: #ff5300;
}
p {
	display:inline;
}
a {
	text-decoration:none;
	color: #ff5300;}

a:hover,a:active,a:visited {
	color: #fff;
	text-decoration:none;}
#cat {
	display: block;
	color: #ff5300;
}
#cat:hover {
	color: #fff;
	text-shadow:0 0 0.2rem #ff5300,-0 -0 1rem #ff5300;
}
#time{
	width: 99%;
	 margin-top: 20%;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
#h,#m{
	height: 50%;
	width:50%;
	 margin: 0 -2%;
	// display: inline;
	 text-align:center;
}
#right{
	 margin: 0 -2%;
	 display: inline;
}
#s{
	//display: inline;
}
#day{
	 margin: 0 -2%;
	//display: inline;
}
p:hover,span:hover,a:hover{
	color: #fff;
	text-shadow:0 0 0.2em #ff5300,-0 -0 0.2em #ff5300;
}
p:active,span:hover,a:hover{
	color: #fff;
	text-shadow:0 0 0.2em #ff5300,-0 -0 0.2em #ff5300;
}
