html {
  box-sizing: border-box;
  font-size: 10px;
  background-color:#000;
  background-size: cover;
}
body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  background-image: url(https://syuukisei17.github.io/pages/2017-005/pix.gif);
  user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -o-user-select:none;
}
.keys {
  display:flex;
  flex:1;
  min-height:100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border:4px solid white;
  border-radius:5px;
  margin:1rem;
  font-size: 1.5rem;
  padding:1rem .5rem;
  transition:all .07s;
  width:100px;
  text-align: center;
  color:white;
  background:rgba(0,0,0,0.4);
  text-shadow:0 0 5px black;
}

.playing {
  transform:scaleX(0.3);
  border-color:#ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 40px;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#ffc600;
}
/*——————媒体查询——————*/
@media screen and (max-width: 500px) {
body {
      margin-top: 20px;
      margin-left: 20px;
}
.keys {
    width: 100%;
     display: inline;
}
.key {
    display:inline-block;
    border: 1px solid white;
}
}

@media screen and (min-width: 500px) and (max-width: 799px) {
body {
      margin-top: 20px;
      margin-left: 20px;
}
.keys {
    width: 100%;
     display: inline;
}
.key {
    display:inline-block;
    border: 1px solid white;
}
}
